body {
  background-image: url('/backgroundpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
    width: 1279px;        /* Lebar elemen sesuai pengaturan */
    height: 722px;        /* Tinggi elemen sesuai pengaturan */
    position: relative;   /* Mengatur elemen agar bisa diatur posisi */
    top: -4px;            /* Menyesuaikan posisi elemen agar 4px di atas posisinya semula */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
  }
  
  .logo {
    width: 125px;
    height: 57px;
    top: 20px;
    left: 50px;
    margin-left: 90px;
    margin-top: 8px;
  }
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 700;
  }
  .nav a:hover {
    color: #FE974E; /* Warna hijau saat hover, sesuaikan sesuai kebutuhan */
  }
  .authButtons {
    margin-right: 220px
  }
  
  .signInButton,
  .signUpButton {
    background-color: transparent;
    border: 1px solid #ff5733;
    color: #ff5733;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 20px;
    padding: 10px 25px;
  }
  .signUpButton:hover {
    background: linear-gradient(90deg, #388E3C 0%, #66BB6A 100%); 
  }
  
  .signUpButton {
    background: linear-gradient(90deg, #ED5627 0%, #FE974E 100%);
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  
  
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    
  }
  
  .content {
    max-width: 50%;
  }
  
  .content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 468x;
    color: #272727;
    margin-bottom: 20px;
    padding-left: 110px;
    text-align: justify;
  }
  
  .content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 32px;
    color: #272727; /* Anda bisa mengganti warna jika diinginkan */
    margin-bottom: 30px;
    padding-left: 110px;
    text-align: justify;

  }
  
  
  .checkNowButton:hover {
    background: linear-gradient(90deg, #388E3C 0%, #66BB6A 100%); 
  }
  
  .imageContainer {
    position: absolute;   /* Mengatur posisi secara absolut */
    top: 108px;           /* Jarak dari atas sesuai pengaturan */
    left: 494px;          /* Jarak dari kiri sesuai pengaturan */
    width: 915px;         /* Lebar gambar sesuai pengaturan */
    height: 610px;        /* Tinggi gambar sesuai pengaturan */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; /* Mencegah gambar terpotong */
  }
  
  .personImage {
    width: 268px;          /* Gambar mengikuti lebar container */
    height: 268px;         /* Tinggi otomatis menjaga proporsi */
    border-radius: 0%;   /* Membuat gambar berbentuk oval */
    margin-bottom: 350px;
    margin-right: 70px;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeInUpAnimation {
    opacity: 0; /* Awalnya tidak terlihat */
    animation: fadeInUp 1s ease forwards; /* Animasi fade in dari bawah */
    animation-delay: 0.3s; /* Tambahkan delay jika diperlukan */
  }
/* components/WelcomeMessage.module.css */
.highlight {
    color: #FF5722; /* Ganti dengan warna yang diinginkan */
    font-weight: bold;
  }
  

  .missionContainer {
    width: 985px;           /* Sesuai dengan lebar yang ditentukan */
    height: 200px;          /* Sesuai dengan tinggi yang ditentukan */
    position: absolute;     /* Agar dapat ditempatkan pada posisi tertentu */
    top: 520px;             /* Jarak dari atas */
    left: 108px;            /* Jarak dari kiri */
    border-radius: 20px;    /* Radius sudut */
    padding: 19px 15px;     /* Padding sesuai dengan arah */
    background-color: #fff; /* Warna latar putih */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1); /* Shadow untuk sedikit efek kedalaman */
    text-align: justify;
  }
  
  .heading {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  .highlight {
    color: #FF5722;
    font-weight: bold;
  }
  
  .description {
    width: 90%; /* Atur lebar agar tidak memenuhi seluruh container */
    max-width: 900px; /* Pastikan lebar maksimum sesuai */
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #666;
  }
  